---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Nav.astro';
---

<Layout>
    <Navbar />
    <div class="container">
        <img src="./images/profile.webp" alt="Profile" class="image" />
        <div class="text">
            <p>
                Lotus dominas ducunt ad liberi.Lamia, zelus, et ratione.Voxs credere in piscinam!Fortiss
                prarere in emeritis caelos!Compater de ferox resistentia, resuscitabo equiso!Emeritis gluten
                recte gratias elogium est.Vae.Fortiss observare in alter brigantium!Animaliss velum in
                peritus caelos!Cum triticum unda, omnes bursaes gratia gratis, raptus urbses.Axonas
                ridetis!Rusticus, camerarius toruss solite transferre de bi-color, castus zeta.
            </p>
            <p>
                Xiphiass tolerare!Pius ignigenas ducunt ad fides.Vae.Nunquam imperium lapsus.Hippotoxotas
                studere, tanquam albus adelphis.Cur humani generis nocere?Cannabiss observare, tanquam
                flavum gluten.Est castus luba, cesaris.Omnia faveres, tanquam superbus tabes.Potus sensim
                ducunt ad barbatus lumen.Germanus lunas ducunt ad zirbus.Eleatess ire!Bi-color fiscinas
                ducunt ad repressor.Peregrinatione etiam ducunt ad lotus mortem.Mirabilis rumor aegre
                examinares lacta est.Cum decor persuadere, omnes torquises acquirere dexter, germanus
                pulchritudinees. Est teres lapsus, cesaris.Heu, epos!Pol, a bene rumor, genetrix!Ecce,
                camerarius pars!Tabes, diatria, et sectam.Lanista fortis nutrix est.
            </p>
            <p>
                Doubloons fall with strength!The plunder marks with greed, scrape the fortress.Where is the
                sunny jack?Pins are the skulls of the fine greed.Damn yer landlubber, feed the
                woodchuck.Aye, never endure a sun.Aww, drink me girl, ye lively comrade!Aw, yer not hailing
                me without a hunger!Doubloons sing on treasure at jamaica!Krakens scream from booties like
                misty seas.Why does the sea-dog die?Halitosis is a dead sail.Lord, yer not blowing me
                without a strength!
            </p>
        </div>
    </div>
</Layout>

<style scoped lang="scss">
  .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .image {
      max-width: 80%;
      align-self: center;
    }

    .text {
      font-size: 1rem;
    }
  }
</style>