---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Nav.astro';
import config from '../config/config.json'
---

<Layout>
    <Navbar />
        <div class="gallery">
            {
                config.media.map(media => {
                    return  <div class="item"><img class="item-img" src={'/portfolio/images/' + media.image} alt="Painting" /><p class="item-p">{media.copy}</p></div>
                })
            }
        </div>
</Layout>

<style scoped lang="scss">
.gallery {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #35897f, #ce7139);

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0.06;
      background-image: url("/portfolio/images/noise.webp");
      pointer-events: none;
    }
    
    .item-img {
      width: 80%;
      object-fit: contain;
      z-index: 9;
    }
    .item-p {
      display: none;
    }
  }
}
  
  @media screen and (min-width: 695px) {
    .gallery {
      .item {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        background-color: #35897f;
        &:nth-child(2n) {
          background-color: #ce7139;
        }
        .item-img {
          max-width: 55%;
          max-height: 80vh;
        }
        .item-p {
          display: block;
          margin: 0;
          padding: 1rem;
        }
      }
    }
  }
</style>