---

---

<div class="container">
    <a class="home" href="/portfolio/"><h1 class="name">Karo Moret</h1></a>
    <div class="links">
        <a href="/portfolio/about">About</a>
        <a href="/portfolio/media">Media</a>
        <a href="/portfolio/contact">Contact</a>
    </div>
</div>

<style scoped lang="scss">
  .container {
    padding: 1rem;
    background-image: url('/portfolio/images/nav.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .home {
      text-decoration: none;
      color: black;

      .name {
        margin: 0 0 1rem 0;
        letter-spacing: 0.4rem;
        font-family: 'Rafika', sans-serif;
      }
    }

    .links {
      display: flex;
      gap: 1rem;
      font-family: 'Rafika', sans-serif;
      color: lightgray;
    }
  }
</style>